/* src/components/Header/Header.css */
.header {
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  background: rgba(214, 194, 194, 0.95);
  backdrop-filter: blur(100px);
  z-index: 100;
  border-bottom: 1px solid var(--border-color);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
 
  margin: 0 auto;
  background-color: rgba(212, 135, 135, 0.795);
  list-style-type: none;
 height: 100px; 

}

.logo {
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--primary-color);
  margin: 0;
  background: linear-gradient( 270deg, #DF8908 50.415%, #B415FF);
  background-clip: text;
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}

.nav-links {
  display: flex;
  list-style: none;
 height: 24px;

}

.nav-links a {
  text-decoration: none;
  color: var(--text-dark);
  font-weight: 500;
  transition: color 0.3s ease;
  position: relative;
   margin-left: 23px;
}

.nav-links a:hover {
  color: var(--secondary-color);
}

.nav-links a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 0.12px;
  background: var(--secondary-color);
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .nav-links {
    gap: var(--space-md);
  }
  
  .nav-links a {
    font-size: var(--font-size-sm);
  }
  

}
.connect{
    padding: 20px 30px;
    border-radius: 50px;
    background: linear-gradient(237deg, #DA7C25 0.36%, #B923E1);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    

  }
  .connect:hover {
    transform: scale(1.05);

  }
  .log{
    width: 50px;
    height: 50px;
    border-radius: 114px;
    margin: 0;


  }
